* {
  border: none;
  border-radius: 10px;
  border-image: none;
  padding: 0;
  outline: none;
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  text-shadow: none;
  color: inherit;
}

#bar {
  color: #FFF;
  margin-top: 10px;
}

#bar #end {
  margin-right: 10px;
}

#bar #start {
  margin-left: 10px;
}

@keyframes gradient_f_nh {
  0% {
    background-position: 0% 200%;
  }

  100% {
    background-position: 200% 200%;
  }
}

/* ------------------------------------------------ */

/* 时钟小部件按钮 */
.clock {
  background: rgb(205, 214, 244);
  background: linear-gradient(118deg,
      rgba(205, 214, 244, 1) 5%,
      rgba(243, 139, 168, 1) 5%,
      rgba(243, 139, 168, 1) 20%,
      rgba(205, 214, 244, 1) 20%,
      rgba(205, 214, 244, 1) 40%,
      rgba(243, 139, 168, 1) 40%,
      rgba(243, 139, 168, 1) 60%,
      rgba(205, 214, 244, 1) 60%,
      rgba(205, 214, 244, 1) 80%,
      rgba(243, 139, 168, 1) 80%,
      rgba(243, 139, 168, 1) 95%,
      rgba(205, 214, 244, 1) 95%);
  background-size: 200% 300%;

  animation: gradient_f_nh 4s linear infinite;
  margin-right: 10px;
  border-radius: 20px;
  padding-right: 20px;
  margin-left: 10px;
  padding-left: 20px;
  color: #11111b;

  font-size: 15px;
  font-weight: bolder;
}

/* 弹出日历小组件 */
.popup-clock {
  color: rgb(205, 214, 244);
  background: rgba(30, 30, 46, 0.8);
  border: 0.2em solid rgb(116, 199, 236);
}

/* 日历上方具体时间 */
/* .popup-clock .calendar-clock { */
/* border: 10px solid red; */
/* } */

/* 日历上被选择的日期 */
.popup-clock .calendar:selected {
  color: #11111b;
  border-radius: 2px;
  background-color: rgb(137, 180, 250);
}

/* ------------------------------------------------ */

/* 工作区 widget 框 */
.workspaces {
  background-color: transparent;
}

/* 工作区按钮 */
.workspaces .item {
  background-color: #11111b;
  border-radius: 30px;
  margin-right: 10px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: bolder;
  color: #cdd6f4;
  transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.68);
}

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 400% 200%;
  }
}

/* 工作区按钮（聚焦工作区） */
.workspaces .item.focused {
  color: #11111b;
  padding-right: 20px;
  padding-left: 20px;
  background: rgb(203, 166, 247);
  background: radial-gradient(circle at 50% 50%, #cba6f7, #bfa3f6, #b3a1f5, #a79ef4, #9b9df3, #99a5f2, #96adf0, #93b6ef, #91bfee, #8ec8ed, #8cd2ec, #89dceb);
  background-size: 400% 400%;
  animation: gradient_f 5s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

/* ------------------------------------------------ */

/* 系统信息 */
.sysinfo {
  color: #11111b;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 20px;
  background: linear-gradient(90deg, #cba6f7, #bfa3f6, #b3a1f5, #a79ef4, #9b9df3, #99a5f2, #96adf0, #93b6ef, #91bfee, #8ec8ed, #8cd2ec, #89dceb, #89dceb, #8cd2ec, #8ec8ed, #91bfee, #93b6ef, #96adf0, #99a5f2, #9b9df3, #a79ef4, #b3a1f5, #bfa3f6, #cba6f7);
  background-size: 200% 300%;
  animation: gradient_f_nh 4s linear infinite;
}

/* ------------------------------------------------ */

/* 当前窗口 */
.focused .label {
  color: #11111b;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 20px;
  background: linear-gradient(90deg, #cba6f7, #bfa3f6, #b3a1f5, #a79ef4, #9b9df3, #99a5f2, #96adf0, #93b6ef, #91bfee, #8ec8ed, #8cd2ec, #89dceb, #89dceb, #8cd2ec, #8ec8ed, #91bfee, #93b6ef, #96adf0, #99a5f2, #9b9df3, #a79ef4, #b3a1f5, #bfa3f6, #cba6f7);
  background-size: 200% 300%;
  animation: gradient_f_nh 4s linear infinite;

}

/* ------------------------------------------------ */

.music {
  /* color: rgb(205, 214, 244); */
  color: #11111b;
  background: linear-gradient(127deg,
      rgba(116, 199, 236, 1) 5%,
      rgba(203, 166, 247, 1) 5%,
      rgba(203, 166, 247, 1) 20%,
      rgba(116, 199, 236, 1) 20%,
      rgba(116, 199, 236, 1) 40%,
      rgba(203, 166, 247, 1) 40%,
      rgba(203, 166, 247, 1) 60%,
      rgba(116, 199, 236, 1) 60%,
      rgba(116, 199, 236, 1) 80%,
      rgba(203, 166, 247, 1) 80%,
      rgba(203, 166, 247, 1) 95%,
      rgba(116, 199, 236, 1) 95%);
  background-size: 200% 300%;
  animation: gradient_f_nh 10s linear infinite;
  border-radius: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

.music .contents {
  margin-left: 1em;
  margin-right: 1em;
}

.popup-music {
  color: rgb(205, 214, 244);
  background: rgba(30, 30, 46, 0.8);
  border: 0.2em solid rgb(116, 199, 236);
  padding: 1em;
}

.popup-music .controls * {
  margin-left: 0.3em;
  margin-right: 0.3em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  border-radius: 1em;
  color: #11111b;
  background-color: rgb(137, 180, 250);
}

/* ------------------------------------------------ */

/* 音量小部件按钮 */
.volume {
  color: rgb(205, 214, 244);
  background-color: #11111b;
  border-radius: 30px;
  margin-right: 10px;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
}


/* 设备音量整个弹出框 */
.popup-volume {
  /* background: rgb(49, 50, 68); */
  background: rgba(30, 30, 46, 0.8);
  padding: 1em;
  border: 0.2em solid rgb(116, 199, 236);
  /* border: 10px solid red; */
}

/* 默认设备控制盒 */
/* .popup-volume .device-box { */
/* background: rgb(49, 50, 68); */
/* background: rgba(30, 30, 46, 0.8); */
/* border: 10px solid red; */
/* } */

/* 默认设备下拉选择器 */
.popup-volume .device-box .device-selector {
  color: rgb(205, 214, 244);
  background: rgb(69, 71, 90);
  padding: 0.3em;
  margin: 5px;
}

/* 默认设备下拉选择器的选项菜单 */
.popup-volume .device-box .device-selector #gtk-combobox-popup-menu {
  background: rgb(69, 71, 90);
  padding: 0.3em;
  border: 0.2em solid rgb(49, 50, 68);
}

/* 默认设备下拉选择器的选项 */
.popup-volume .device-box .device-selector #gtk-combobox-popup-menu menuitem {
  color: rgb(205, 214, 244);
  padding: 0.3em;
  /* background: red; */
}

/* 设备音量滑块界面 */
/* .popup-volume .device-box .slider { */
/* border: 10px solid red; */
/* background-color: #6a1b9a; */
/* } */

.popup-volume .device-box .slider :nth-child(2) {
  /* 音量数值颜色 */
  color: red;
  /* 下方滑动条也会使用相同样式 */
  /* padding-left: 0.8em; */
  /* padding-right: 0.8em; */
  background-color: rgb(69, 71, 90);
}

/* 设备音量滑块 */
.popup-volume .device-box .slider :nth-child(1) :nth-child(1) {
  /* 颜色 */
  background-color: rgb(137, 180, 250);
  /* 边框 */
  padding-left: 0.8em;
  padding-right: 0.8em;
  border: 0.2em solid rgb(49, 50, 68);
}

/* 滑动条已经使用的条形 */
.popup-volume .device-box .slider :nth-child(1) :nth-child(2) {
  /* 颜色 */
  background-color: rgb(203, 166, 247);
  /* 边框 */
  padding-left: 1em;
  padding-right: 1em;
  /* border: 10px solid green; */
}

/* 设备音量静音切换按钮 */
/* .popup-volume .device-box .btn-mute { */
/* border: 10px solid blue; */
/* } */

/* 应用程序音量控制的父框 */
/* .popup-volume .apps-box { */
/* border: 1em solid transparent; */
/* } */

/* 应用程序音量控制的子框(每个发声应用程序一个) */
.popup-volume .apps-box .app-box {
  background: rgb(69, 71, 90);
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* border: 10px solid aqua; */
}

/* 每个发声应用程序的名称 */
.popup-volume .apps-box .app-box .title {
  color: rgb(205, 214, 244);
}

/* 滑动条滑块 */
.popup-volume .apps-box .app-box .slider :nth-child(2) :nth-child(1) :nth-child(1) {
  background-color: rgb(137, 180, 250);
  /* 边框 */
  border: 0.2em solid rgb(49, 50, 68);
  /* color: red; */
  /* border: 10px solid lime; */
}

/* 滑动条背景 */
.popup-volume .apps-box .app-box .slider :nth-child(2) :nth-child(1) {
  background: rgb(49, 50, 68);
  border: 0.5em solid transparent;
  margin-left: 1em;
  margin-right: 1em;
}

/* 已使用的音量滑动条 */
.popup-volume .apps-box .app-box .slider :nth-child(2) :nth-child(2) {
  background-color: rgb(203, 166, 247);
}

/* 每个发声应用程序的静音按钮 */
/* .popup-volume .apps-box .app-box .btn-mute { */
/* border: 10px solid green; */
/* } */

/* ------------------------------------------------ */

.tray {
  color: #cdd6f4;
  background-color: #11111b;
  border-radius: 30px;
  margin-right: 10px;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.tray .item {
  margin-right: 10px;
  margin-left: 10px;
}

/* 整体托盘右键菜单 */
.tray .item window {
  background: rgba(30, 30, 46, 0.8);
  border: 0.2em solid rgb(116, 199, 236);
}

/* 托盘右键菜单每个选项 */
.tray .item window menu menuitem {
  color: rgb(205, 214, 244);
  padding: 0.5em;
}

.tray .item window menu menuitem:hover {
  color: #11111b;
  background: rgb(116, 199, 236);
}
