/* --- 颜色定义 --- */
@define-color base #24273A;
/* 深邃蓝紫 (壁纸背景) */
@define-color surface #363A4F;
/* 模块背景 */
@define-color overlay #494D64;
/* 边框/悬停 */
@define-color text #CAD3F5;
/* 主要文本 */
@define-color subtext #B8C0E0;
/* 次要文本 */
@define-color pink #F5C2E7;
/* 粉色 (壁纸中心) */
@define-color teal #94E2D5;
/* 青色 (壁纸中心) */
@define-color mauve #CBA6F7;
/* 淡紫色 (点缀/渐变) */
@define-color lavender #B7BDF8;
/* 薰衣草紫 */


/* ------------------------------------------------ */
/*                  全局样式重置                     */
/* ------------------------------------------------ */
* {
  border: none;
  border-image: none;
  padding: 0;
  outline: none;
  background-image: none;
  /* 透明背景 */
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  text-shadow: none;
  color: inherit;
}

#bar {
  color: @text;
  margin-top: 10px;
}

#bar #end {
  margin-right: 10px;
}

#bar #start {
  margin-left: 10px;
}

/* ------------------------------------------------ */
/*                      动画定义                     */
/* ------------------------------------------------ */
@keyframes gradient_f_nh {
  0% {
    background-position: 0% 200%;
  }

  100% {
    background-position: 200% 200%;
  }
}

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 400% 200%;
  }
}


/* ------------------------------------------------ */
/*                       时钟                       */
/* ------------------------------------------------ */
.clock {
  color: @base;
  background: linear-gradient(90deg, @pink, @mauve, @teal, @mauve, @pink);
  background-size: 200% 200%;
  animation: gradient_f_nh 4s linear infinite;
  margin-right: 10px;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 15px;
  font-weight: bolder;
}

.popup-clock {
  color: @text;
  background-color: alpha(@base, 0.8);
  border: 2px solid @teal;
  border-radius: 1em;
  padding: 1em;
}

.popup-clock .calendar:selected {
  color: @base;
  border-radius: 5px;
  background-color: @lavender;
}


/* ------------------------------------------------ */
/*                      工作区                      */
/* ------------------------------------------------ */
.workspaces {
  background-color: transparent;
  margin-left: 10px;
}

.workspaces .item {
  background-color: @surface;
  border-radius: 30px;
  margin-right: 10px;
  padding: 5px 10px;
  font-weight: bolder;
  color: @text;
  transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.68);
}

.workspaces .item:not(.focused):hover {
  background-color: @overlay;
}

.workspaces .item.focused {
  color: @base;
  background: radial-gradient(circle at 50% 50%, @pink, @mauve, @lavender, @teal);
  padding: 5px 20px;
  background-size: 400% 400%;
  animation: gradient_f 5s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

/* ------------------------------------------------ */
/*       系统信息, 当前窗口 & 其他Bar项目通用悬停效果      */
/* ------------------------------------------------ */
.sysinfo,
.focused .label {
  color: @base;
  background: linear-gradient(90deg, @pink, @mauve, @teal, @mauve, @pink);
  padding: 0 10px;
  border-radius: 20px;
  background-size: 200% 200%;
  animation: gradient_f_nh 4s linear infinite;
}


/* ------------------------------------------------ */
/*                       音乐                       */
/* ------------------------------------------------ */
.music {
  color: @base;
  background: linear-gradient(90deg, @pink, @mauve, @teal, @mauve, @pink);
  background-size: 200% 200%;
  animation: gradient_f_nh 8s linear infinite;
  /* 减慢速度，更优雅 */
  border-radius: 2rem;
  padding: 0 2rem;
  margin: 0 1rem;
}

.popup-music {
  color: @text;
  background-color: alpha(@base, 0.8);
  border: 2px solid @teal;
  padding: 1em;
  border-radius: 1em;
}

.popup-music .album-art {
  background-color: @surface;
  border: 6px solid @lavender;
  border-radius: 8px;
}

.popup-music .icon-box .image {
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: -9999px;
  opacity: 0;
}

.popup-music .controls .btn-prev,
.popup-music .controls .btn-next,
.popup-music .controls .btn-play,
.popup-music .controls .btn-pause {
  background-color: @surface;
  border: 2px solid @lavender;
  transition: background-color 0.3s;
}

.popup-music .controls .btn-prev,
.popup-music .controls .btn-next {
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  padding: 0;
  margin-top: 5px;
}

.popup-music .controls .btn-play,
.popup-music .controls .btn-pause {
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.popup-music .controls .btn-prev:hover,
.popup-music .controls .btn-next:hover,
.popup-music .controls .btn-play:hover,
.popup-music .controls .btn-pause:hover {
  background-color: @lavender;
  color: @base;
}

.popup-music .slider trough {
  background-color: @overlay;
  border-radius: 10px;
  min-height: 10px;
}

.popup-music .slider highlight {
  background-color: @mauve;
  border-radius: 10px;
}

.popup-music .slider slider {
  background-color: @lavender;
  border-radius: 50%;
  min-width: 16px;
  min-height: 16px;
  transition: background-color 0.3s;
}

.popup-music .slider slider:hover {
  background-color: @pink;
}

.popup-music .slider value {
  margin-bottom: 0.6em
}

.popup-music .volume {
  padding-left: 1px;
  padding-right: 1px;
  margin: 0px;
}

.popup-music .volume .icon .image {
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: -9999px;
  opacity: 0;
}

.popup-music .volume .icon .text-icon {
  margin-left: 10px;
}

/* ------------------------------------------------ */
/*                       音量                       */
/* ------------------------------------------------ */
.volume {
  color: @text;
  background-color: @surface;
  border-radius: 30px;
  margin-right: 10px;
  padding: 5px 10px;
}

.popup-volume {
  background-color: alpha(@base, 0.8);
  padding: 1em;
  border: 2px solid @teal;
  border-radius: 1em;
}

.popup-volume .device-box .device-selector {
  color: @text;
  background-color: @surface;
  padding: 0.5em;
  margin: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.popup-volume .device-box .device-selector:hover {
  background-color: @overlay;
}

.popup-volume .apps-box .app-box {
  background-color: @surface;
  padding: 1em;
  margin-top: 1em;
  border-radius: 10px;
}

.popup-volume .title {
  color: @text;
  font-weight: bold;
}

.popup-volume .device-box .slider {
  margin-bottom: -0.8em;
  margin-top: -0.5em;
  background-color: @surface;
  margin-left: 4.5em;
  margin-right: 4.5em;
  border-radius: 1em 1em 0em 0em;
}

.popup-volume .device-box .slider value {
  margin-top: 0em;
  margin-bottom: 1em;
}

.popup-volume .device-box .btn-mute {
  margin-top: 0px;
  background-color: @surface;
  margin-left: 4.5em;
  margin-right: 4.5em;
  border-radius: 0em 0em 1em 1em;
  transition: background-color 0.3s;
}

.popup-volume .device-box .btn-mute:hover {
  background-color: @overlay;
}

.popup-volume .slider trough {
  background-color: @overlay;
  border-radius: 10px;
  min-height: 10px;
  margin: 0.5em 0;
}

.popup-volume .slider highlight {
  background-color: @mauve;
  border-radius: 10px;
}

.popup-volume .slider slider {
  background-color: @lavender;
  border-radius: 50%;
  min-width: 16px;
  min-height: 16px;
  transition: background-color 0.3s;
}

.popup-volume .slider slider:hover {
  background-color: @pink;
}

/* ------------------------------------------------ */
/*                       托盘                       */
/* ------------------------------------------------ */
.tray {
  color: @text;
  background-color: @surface;
  border-radius: 30px;
  margin-right: 10px;
  padding: 5px 10px;
}

.tray .item {
  margin: 0 5px;
}

menu {
  background-color: alpha(@base, 0.9);
  border: 2px solid @teal;
  padding: 0.5em;
  border-radius: 1em;
}

menu>menuitem {
  color: @text;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 5px;
  transition: background-color 0.2s;
}

menuitem:hover {
  color: @base;
  background-color: @teal;
}